/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #ffffff;
  color: #000000;
  padding: 2rem;
}
/* Navbar */
.navbar {
  width: 100%;
  /* background-color: #000; */
  padding: 0.8rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 4rem;
  color: black;
  box-shadow: 0px 0px 10px 0px rgb(48, 47, 47, 0.9);
}

.navbar h1 {
  color: rgb(252, 33, 121);
  font-size: 1.4rem;
}

.navbar nav {
  display: flex;
  gap: 1rem;
}

.navbar a {
  color: black;
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: rgb(252, 33, 121);
}
.container {
  max-width: 350px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 0.8rem;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  border: 1px solid rgb(252, 33, 121);
}

.form input,
.form textarea {
  width: 100%;
  padding: 0.3rem;
  margin-bottom: 0.6rem;
  border: 1px solid rgb(252, 33, 121);
  border-radius: 5px;
  font-size: 0.85rem;
  background-color: #fff;
  color: #000;
}

.form input:focus,
.form textarea:focus {
  border-color: #000;
  outline: none;
}

.form button {
  background-color: rgb(252, 33, 121);
  color: white;
  border: none;
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.85rem;
  transition: background-color 0.3s ease;
}

.form button:hover {
  background-color: #000;
  color: rgb(252, 33, 121);
}

.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 2rem;
  justify-content: center;
  padding: 1rem;
}

.content {
  background-color: #ffffff;
  padding: 0.6rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  height: auto; /* Let the height be flexible to fit content */
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgb(252, 33, 121);
  overflow: hidden; /* Prevents overflow */
}

.content h1 {
  font-size: 0.95rem;
  color: #000;
  margin-bottom: 0.3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; /* Prevents title text from going outside */
}

.content p {
  font-size: 0.8rem;
  color: #333;
  margin-bottom: 0.3rem;
  word-wrap: break-word; /* Ensures text wraps within the box */
}

footer {
  font-size: 0.7rem;
  color: #555;
  display: flex;
  justify-content: space-between;
}

.content button {
  margin-top: 0.3rem;
  padding: 0.25rem 0.5rem;
  border: none;
  background-color: rgb(252, 33, 121);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
  transition: background-color 0.3s ease;
}

.content button:hover {
  background-color: #000;
  color: rgb(252, 33, 121);
}

.blog-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}
